{{#> main}}
{{#*inline "main"}}

<div class="uk-position-relative map">
    <img loading="lazy" width="1920" height="2180" src="./img/map-large.png" usemap="#image-map" alt="north isles map">

    <map name="image-map">
        <area target="_self" alt="" title="Westray" href="#"
            coords="701,402,664,370,710,241,796,222,830,280,839,378,817,472,779,490,752,489" shape="poly">
        <area target="_self" alt="" title="Noup Head, Westray" href="#" coords="420,465,27" shape="circle">
        <area target="_self" alt="" title="Shapinsay" href="#" coords="854,1463,34" shape="circle">
        <area target="_self" alt="" title="Stronsay" href="#" coords="1198,1087,28" shape="circle">
        <area target="_self" alt="" title="North Ronaldsay" href="#" coords="1624,318,27" shape="circle">
        <area target="_self" alt="" title="Egilsay" href="#" coords="676,1165,684,979,606,969,457,1076,501,1216" shape="poly">
        <area target="_self" alt="" title="Faray" href="#" coords="827,914,878,969,922,952,930,886,873,841,851,758,808,767"
            shape="poly">
        <area target="_self" alt="" title="Sanday" href="#"
            coords="1202,787,1200,894,1397,894,1510,709,1636,704,1631,633,1571,475,1312,473,1234,531,1176,531,1176,601,1263,811,1202,785,1205,787"
            shape="poly">
    </map>
</div>

<div class="posts posts-home uk-position-z-index uk-position-relative">
    {{#> ukContainer}}
    {{#*inline "out"}}

    {{#> ukGrid class="uk-grid-medium uk-flex-wrap uk-child-width-1-4@l uk-child-width-1-2@s uk-margin-bottom"
    dataUkHeightMatch="target: > div > .uk-card"}}
    {{#*inline "cells"}}

    {{#each posts}}
    {{#with this}}
    <div>
        {{> card}}
    </div>
    {{/with}}
    {{/each}}

    {{/inline}}
    {{/ukGrid}}

    {{/inline}}
    {{/ukContainer}}
</div>

{{/inline}}
{{/main}}