{{#> main}}
{{#*inline "main"}}

    <div class="uk-position-relative map">
        <img loading="lazy" width="1920" height="2180" src="./img/map-large.png" alt="north isles map">
    </div>

<div class="posts posts-home uk-position-z-index uk-position-relative">
    {{#> ukContainer}}
    {{#*inline "out"}}

    {{#> ukGrid class="uk-grid-medium uk-flex-wrap uk-child-width-1-4@l uk-child-width-1-2@s uk-margin-bottom"
    dataUkHeightMatch="target: > div > .uk-card"}}
    {{#*inline "cells"}}

    {{#each posts}}
    {{#with this}}
    <div>
        {{> card}}
    </div>
    {{/with}}
    {{/each}}

    {{/inline}}
    {{/ukGrid}}

    {{/inline}}
    {{/ukContainer}}
</div>

{{/inline}}
{{/main}}