{{#> main}}
	{{#*inline "main"}}

	<div class="about">
        {{#> ukContainer}}
            {{#*inline "out"}}
                <div class="uk-width-3-5 uk-flex">
                    <div class="intro">
                        <p class="uk-text-lead">Westray, “Queen o’ the Isles”, is the most north westerly island of the Orkney archipelago, with a vibrant community and maritime industry.</p>
                        <p>Westray, “Queen o’ the Isles”, is the most north westerly island of the Orkney archipelago, with a vibrant community and maritime industry. The island is around 16 kilometres long and up to 6 km wide with a diverse coast comprising extensive cliffs, low lying rock shelves and sandy bays. The west coast of the island, extending to Noup Head, bears the full brunt of the forces from the North Atlantic seas, with waves reaching over 20 metres in height as they approach the exposed headlands and cliffs. Over the millennia this powerful and relentless wave action, along with beating rain and cascading burns, has sculpted the rock into intricate ledges and precipitous overhangs, deep gullies, isolated stacks, caves and the towering cliffs with their sheer drops.</p>
                        <p>The Noup Head cliffs (noup being Old Norse for “steep headland”), on the most westerly tip of Westray, rise up to 90 metres tall and are home to one of the largest seabird colonies and the largest gannetry in Orkney. Various species nest in their thousands upon every rock ledge and crevice, bringing a cacophony of sound (and distinctive aroma) to the cliffs from around May each year. Each species has their own distinctive local name:        gannets (“Solan Goose”), puffins (“Tammie norie”), kittiwakes (“Wekko”), fulmars (“Mallimack”), Arctic Skua (“Scootie Allan”), Arctic Tern (“Pickie terno”), razorbills (“Coulter neb”) and guillemots (“Aak”, which is the Orkney nickname for Westray people).</p>
                        <p>On shelving rocks near the base of the cliffs grey seals haul out, and further out in the rapidly deepening waters, dolphins and killer or minke whales might pass by.</p>
                        <p>Underneath the frenzied nesting activity on the cliffs the wave-agitated intertidal zone, filled with shore life and foam, soon gives way to a more sedate and tranquil rock-scape world. Here the various seaweeds and sea creatures compete for space to cling to rocks, find shelter or to harvest the productive waters. Each species has its own particular needs and abilities which means that everything has its best-suited place. This ‘niche’ adaptation leads to a pattern of species zonation according to water depth, associated light level and degree of wave exposure, creating bands of distinct species assemblages in the range of conditions. For example, in shallower regions where light intensity and wave action is greatest, kelp canopies dominate. The abundance of kelp decreases with depth, being replaced by smaller red seaweeds and a diverse animal ‘turf’ which colonises the rock surfaces. This encrusting mat can include sea anemones, sponges, sea mats, sea squirts, brittle stars, sea slugs and snails, mussels, barnacles, calcified worms and a host of other marine creatures. The rich diversity and beauty of these animal and seaweed communities can be breath-taking, creating walls of vivid colours reminiscent of a coral reef in deeper waters, and producing a surging and flowing layer of seaweed, water and foam at the surface.</p>
                        <p>The natural heritage importance of the cliffs and environs of Noup Head is recognised at local, national and international levels. Environmental designations seek to protect and enhance the wildlife populations and associated habitats that are present.</p>
                        <p>The designated interests are monitored at intervals to check on species numbers and habitat quality. Over recent years it has become clear that certain seabird populations such as kittiwakes and arctic skuas have been declining, whilst at the same time other species such as gannets have been increasing. It is widely believed that these changes are linked to climate change which has altered the distribution, abundance and therefore availability of the key prey for certain species. The geographical range over which such changes may be important for the seabirds are immense. Arctic terns migrate to and from the Southern Ocean, great skuas winters off western Africa whilst fulmars may forage off Nova Scotia. Even the range of the daily foraging trips of these and the other species during the chick-rearing season are extensive, covering up to hundreds of miles.</p>
                        <p>The vibrant biodiversity of the Noup Head cliffs and the wider marine ecosystem are linked and interdependent. The grand cliffs of Noup Head allow you to see so much of this ecosystem function play out in front of your eyes. While gazing in awe at the amazing seabird city remember that beneath the waves there is an equally spectacular underwater cliff and world.</p>
                    </div>
                    <aside class="uk-width-1-3">

                    </aside>
                </div>
        	{{/inline}}
		{{/ukContainer}}
	</div>

    {{> gallery items=items.gallery}}

    {{#> section class="posts"}}
        {{#> ukContainer}}
            {{#*inline "out"}}

            <h2 class="uk-text-uppercase">Dive into The next island...</h2>

            {{#> ukGrid class="uk-grid-large uk-flex-wrap uk-child-width-1-4@l uk-child-width-1-2@s uk-margin-bottom" dataUkHeightMatch="target: > div > .uk-card"}}
				{{#*inline "cells"}}

                	{{#each posts}}
						{{#with this}}
							<div>
								{{> card}}
							</div>
						{{/with}}
					{{/each}}

                {{/inline}}
			{{/ukGrid}}  

            {{/inline}}
        {{/ukContainer}}
	{{/section}}

	{{/inline}}
{{/main}}