.about {
    &-intro {
        background-color: $intro-blue;
        padding: 30px 0;
    }

    .shape-top,
    .shape-bottom {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;

        .uk-svg,
        .uk-svg:not(.uk-preserve) [fill*='#']:not(.uk-preserve) {
            fill: $intro-blue;
            width: 100%;
        }
    }

    .shape-top {
        bottom: 90%;
    }

    .shape-bottom {
        top: 93%;
    }

    .map-img {
        max-width: 370px;
        transition: $transition;

        svg {
            transition: $transition;
            position: absolute;
            right: 5px;
            bottom: 10px;
            width: 25px;
            height: auto;
            fill: $white;
        }

        @include hover {
            box-shadow: 0 28px 50px rgba($black, .3);

            svg {
                transform: scale(1.4);
            }
        }
    }

    aside {

        p,
        a {
            font-weight: $extra-bold;
        }

        p {
            color: $info-green;
            font-size: 20px;
        }

        .uk-text-large {
            font-size: 20px;
        }
    }

    @media (min-width: $breakpoint-medium-max) {
        &-intro {
            padding: 20px 0;
            margin-top: -55px;
        }

        .shape-bottom img {
            height: 55px;
        }

        aside {
            margin-top: -165px;
            max-width: 370px;
            padding-left: 15px;
        }
    }

    @media (min-width: $breakpoint-medium) {
        aside {
            padding-left: 25px;
        }

        .map-img {
            margin-bottom: 80px;
        }
    }

    @media (max-width: $breakpoint-small-max) {
        &-content {
            flex-direction: column-reverse;
        }
    }
}