.banner {
    overflow: hidden;
    padding: 40px 0;

    span {
        font-size: $global-font-size;
        font-weight: $font-black;
        color: $white;
    }

    .uk-button-default {
        box-shadow: 0 0 0 10px rgba($white, .5);
        background-color: $white;
        width: 65px;
        height: 65px;
        display: block;
        margin: 25px 0 40px;
        border: 0;

        &::after {
            position: absolute;
            background-color: rgba($white, .2);
            border-radius: 50%;
            content: '';
            width: calc(100% + 40px);
            height: calc(100% + 40px);
            left: -20px;
            top: -20px;
        }

        svg {
            color: $primary-button-green;
            width: 55px;
        }
    }

    @media (min-width: $breakpoint-medium-max) {
        height: 785px;
    }
}