.posts {
    padding: 100px 0;

    .uk-card-body {
        padding-top: 0;
        padding-bottom: 15px;
    }

    &:not(.posts-home) {
        clip-path: url('#svgPathLinks');
        background-color: $links-green;
    }

    &.posts-home {
        margin-top: -150px;
    }

    @media (min-width: $breakpoint-small) {
        padding: 100px 0 200px;
    }

    @media (min-width: $breakpoint-medium) {
        &.posts-home {
            margin-top: -350px;
        }
    }

    @media (min-width: $breakpoint-large) {
        &.posts-home {
            margin-top: -450px;
        }
    }

    @media (min-width: $breakpoint-xlarge) {
        &.posts-home {
            margin-top: -630px;
        }
    }
}