@font-face {
    font-family: 'Rawline';
    src: url('../fonts/Rawline-ExtraLight.woff2') format('woff2'),
        url('../fonts/Rawline-ExtraLight.woff') format('woff'),
        url('../fonts/Rawline-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rawline';
    src: url('../fonts/Rawline-Light.woff2') format('woff2'),
        url('../fonts/Rawline-Light.woff') format('woff'),
        url('../fonts/Rawline-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rawline';
    src: url('../fonts/Rawline-Regular.woff2') format('woff2'),
        url('../fonts/Rawline-Regular.woff') format('woff'),
        url('../fonts/Rawline-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rawline';
    src: url('../fonts/Rawline-Medium.woff2') format('woff2'),
        url('../fonts/Rawline-Medium.woff') format('woff'),
        url('../fonts/Rawline-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rawline';
    src: url('../fonts/Rawline-SemiBold.woff2') format('woff2'),
        url('../fonts/Rawline-SemiBold.woff') format('woff'),
        url('../fonts/Rawline-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rawline';
    src: url('../fonts/Rawline-Bold.woff2') format('woff2'),
        url('../fonts/Rawline-Bold.woff') format('woff'),
        url('../fonts/Rawline-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rawline';
    src: url('../fonts/Rawline-ExtraBold.woff2') format('woff2'),
        url('../fonts/Rawline-ExtraBold.woff') format('woff'),
        url('../fonts/Rawline-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rawline';
    src: url('../fonts/Rawline-Black.woff2') format('woff2'),
        url('../fonts/Rawline-Black.woff') format('woff'),
        url('../fonts/Rawline-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}