.template-home {
    background-color: $home-bg-blue;

    h1,
    h1 span {
        font-size: 34px;
        margin-bottom: 40px;
    }

    h1 span {
        font-weight: $normal;
    }

    .uk-text-lead {
        font-size: 22px;
        font-weight: $medium;

        strong {
            font-weight: $extra-bold;
        }
    }

    .banner {
        p .uk-text-bolder {
            font-weight: $extra-bold;
        }

        .shape {
            bottom: -30px;
            fill: $yellow;
        }
    }

    .text-medium {
        font-weight: $medium;
    }

    p,
    .uk-text-lead {
        color: $white;
    }

    @media (min-width: $breakpoint-medium-max) {

        h1,
        h1 span {
            font-size: 44px;
            margin-bottom: 60px;
        }

        .uk-text-lead {
            padding-right: 8px;
            font-size: 28px;
        }
    }
}