//
// Main
//
// ========================================================================

//
// Typography
//

// Family
$font-default: 'Rawline', sans-serif;

// Size
$font-size: 18px;

// Weight
$extra-light: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$font-black: 900;

// Line Height
$line-height: 1.5;


//
// Colours
//
$white: #fff;
$black: #25282a;
$primary: #1f5ea6;
$secondary: #2596ac;
$green-dark: #1e586b;
$success: #32d296;
$warning: #faa05a;
$danger: #f0506e;
$nav-item-blue: #d9f1f1;
$dropdown-blue: #e8fcfe;
$dropdown-item-blue: #c5eff0;
$primary-button-green: #00a39e;
$primary-button-green-hover: #018682;
$intro-blue: #24b4c4;
$card-body-blue: #81d8e4;
$card-title-blue: #067e90;
$caret-blue: #90b1cd;
$info-green: #114e62;
$links-green: #ddf4f7;
$footer-top-blue: #33a5bb;
$large-button-blue: #0078c0;
$email-blue: #b8f2fb;
$footer-bottom-blue: #14657a;
$home-bg-blue: #27b3c0;
$grey: lighten($black, 32%);
$light-grey: lighten($grey, 32%);
$off-white: lighten($light-grey, 20%);


//
// Other
//

// Animation
$speed: 256ms;
$speed-fast: $speed / 2;
$speed-slow: $speed * 2;
$timing: ease-in-out;
$transition: $speed $timing;


//
// UIkit Global Variables
// https://github.com/uikit/uikit/blob/develop/src/scss/components/variables.scss
//
// Imports UIkit variable overrides for the theme
// These may be used by main.scss
//
// ========================================================================

@import 'uikit/variables';
