.footer {
    background-color: $info-green;
    font-size: 18px;

    p {
        color: $white;
    }

    &-top {
        background-color: $footer-top-blue;
        padding: 80px 0 124px;
        position: relative;
        margin-top: 0;
        z-index: 1;

        .uk-button {
            background-color: $large-button-blue;
            max-width: 270px;
            width: 100%;

            @include hover {
                background-color: $white;
                color: $large-button-blue;

                svg {
                    fill: $large-button-blue;
                }
            }
        }
    }

    &-middle {
        padding: 40px 0 60px;
    }

    &-credits {
        padding: 80px 0 25px;
        background-color: $footer-bottom-blue;
        clip-path: url('#svgPathFooterMiddle');

        span {
            font-weight: $medium;
        }

        * {
            font-size: 14px;
        }
    }

    &-bottom {
        padding: 35px 0 10px;

        p {
            font-size: 16px;
        }
    }

    .uk-button-link {
        color: $email-blue;
        font-size: 18px;

        @include hover {
            color: $white;
        }
    }

    .uk-list {
        a {
            background-color: $email-blue;
            border: 2px solid $email-blue;
            box-sizing: border-box;
            height: 45px;
            transition: $transition;
            width: 45px;

            @include hover {
                background-color: $info-green;

                svg {
                    fill: $email-blue;
                }
            }
        }

        svg {
            width: 20px;
            height: 20px;
            transition: $transition;
            fill: $info-green;
        }
    }

    .text-medium {
        font-weight: $medium;
    }

    @media (min-width: $breakpoint-xsmall-max) {

        &-credits {
            padding: 60px 0 25px;
        }
    }

    @media (min-width: $breakpoint-medium-max) {
        &-top {
            clip-path: url('#svgPathFooterTop');
            margin-top: -45px;
        }
    }

    @media (max-width: $breakpoint-medium) {

        &-top,
        &-bottom {
            .uk-flex {
                flex-direction: column;
            }
        }
    }

    .watermark {

        a {
            align-items: center;
            color: $white;
            display: inline-flex;
            transition: $transition;

            @include hover {
                color: #e11e2f;
                text-decoration: none;
            }
        }
    }
}