.header {

    .uk-logo {

        img {
            width: 200px;
        }
    }

    @media (min-width: $breakpoint-medium-max) {
        padding: 15px $global-medium-margin 25px;

        .uk-logo {
            margin-left: $global-small-margin;
        }

        .uk-button {
            margin-left: 20px;
            padding: 15px 25px;
            font-size: 14px;
            color: $white;
        }
    }
}